{require_otp_vsn, "R16|17"}.

{deps,
 [
     {lager, "2.*", {git, "git://github.com/basho/lager", {tag, "2.1.0"}}},
     {folsom, ".*", {git, "git://github.com/basho/folsom.git", {branch, "boundary-0.7.1+basho-bench-float"}}},
     {getopt, ".*", {git, "git://github.com/jcomellas/getopt", {tag, "v0.8.2"}}},
     {jiffy, "", {git, "https://github.com/davisp/jiffy.git",{branch, "master"}}}
 ]}.

{erl_opts, [{src_dirs, [src]}, {parse_transform, lager_transform}]}.