%%-*- mode: erlang -*-
{release, { sim_agent, "1"},
 [
     kernel,
     compiler,
     jiffy,
%%     wx,runtime_tools,
%%     observer,
     os_mon,
     public_key,
     sim_agent
     %%{cowboy, "1.0.0", '>='}
 ]}.
{include_erts, false}.
{include_src, false}.
{sys_config, "./conf/sys.config"}.
{vm_args, "./conf/vm.args"}.
{extended_start_script, true}.