%%-*- mode: erlang -*-
{release, { sim_agent, "0.0.1"},
 [
     kernel,
     compiler,
     bear,
     folsom,
     getopt,
     goldrush,
     lager,
     os_mon,
     public_key,
     inets,
     jiffy,
     sim_agent
 ]}.
{include_erts, false}.
{include_src, false}.
{sys_config, "./conf/sys.config"}.
{vm_args, "./conf/vm.args"}.
{extended_start_script, true}.