
%% Base test output directory
{tests, "./tests"}.

%% agent登陆速度, 个/sec
%% {rate max|Count}
{rate, 100}.

%% true的时候,将系统信息写入sys_data.log，false显示在日志
{debug, true}.

%% agent与服务端心跳时间，单位毫秒
{heartbeat, 60000}.

%% 具体处理事务的模块
{driver, sim_agent_driver}.

%% 服务器签名key
{md5key, "dfsa@!7sd&*%$==a3f+yf8-"}.

%% 报告间隔时间，单位秒
{report_interval, 10}.

%% 服务器地址
{host1, {"192.168.199.4", 7788}}.
{host2, {"192.168.199.4", 7789}}.

%% 向服务器发送固定任务
%% {tweb, {sync|async, interval, Active, Cmd, Data}.
{tweb, {sync, 10, "rexjob", "set", #{<<"type">> => 15,
                           <<"comid">> => <<"059f40aa9076e694f1a0">>,
                           <<"agents">> => []}}}.

%% 定义消息类型匹配处理模块
{16#9B000001, chkqtapp_msg}.
